<div class="main">
  <h1><%= title%></h1>
  <!-- <h3><%= JSON.stringify(items)%></h3> -->

  <div class="filter d-flex flex-wrap">
    <%statusFilter.forEach(function(item, index) { let link =
    systemConfig.prefixAdmin + '/items/' + item.link ; if(searchCurrent !== ''
    && searchCurrent !== undefined) { link += '?search=' + searchCurrent; } %>

    <a href="/<%=link %>" class="<%= item.class %>">
      <%= `${item.name}(${item.count})`%>
    </a>
    <% }); %>
    <div class="input-group">
      <form action="">
        <input
          name="search"
          type="search"
          value="<%= searchCurrent %>"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <button type="submit" class="btn btn-outline-primary">search</button>
        <button type="button" class="btn btn-outline-danger">
          <a
            href="/<%= systemConfig.prefixAdmin %>/items/<%= statusFilterCurrent %>"
            >Delete</a
          >
        </button>
        <button type="button" class="btn btn-outline-warning">
          <a href="/<%= systemConfig.prefixAdmin %>/items/all %>">Reload</a>
        </button>
      </form>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox" /></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Ordering</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <% items.forEach(function(item, index) { %>
      <tr>
        <th scope="row">
          <input type="checkbox" />
        </th>
        <td><%= index+1 %></td>
        <td><%= item.name %></td>

        <td>
          <% if(item.status == 'active'){ %>
          <a href="#" class="btn btn-success">Active</a>
          <% } else{ %>
          <a href="#" class="btn btn-secondary">Inactive</a>
          <% } %>
        </td>
        <td><%= item.ordering%></td>
        <td>
          <a href="#" class="btn btn-warning">Edit</a>
          <a href="#" class="btn btn-danger">Danger</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
